.DS_Store
*.yml
*.plist
*.json
SkipLists/bin/*
SkipLists/.ipynb_checkpoints/*
SkipLists/__pycache__/visualization_parameters.cpython-310.pyc
SkipLists/statistical_comparisons/count_ops*
QuadIoU/build/*
QuadIoU/dist/*
QuadIoU/quad_iou.egg-info/*